/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build.ninja
.ninja_deps
.ninja_log
compile_commands.json

.vscode/

*.exe
*.pdb
*.obj
*.ilk
*.log
*.suo
*.user
*.userosscache
*.sln.docstates

.DS_Store

*.tmp
*.log

rules.ninja

*.vcxproj*
*.sln

*.pch
*.gch
*.ipch

*~
*.bak

CMakeUserPresets.json

.cashe/